---
import HeaderBar from '../components/HeaderBar/HeaderBar.jsx'
import Footer from '../components/Footer/Footer.jsx';
import '../styles/reset.css';
import '../styles/globals.css';
import '../styles/typography.css';
import '../styles/color.css';

const isProdBuild = import.meta.env.PROD;
const defaultCanonicalUrl = new URL(Astro.url.pathname, Astro.site).toString();
const { page = {}, pages } = Astro.props;
const { title, description, imageUrl, noIndex, canonicalLink } = (page || {}).data || {};

---

<html lang="en">
	<head>
		{isProdBuild && <script is:raw>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-M86KFS2');</script>}
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width"/>
		<link rel="icon" type="image/x-icon" href="/images/alchemy-favicon.png"/>
		<title>{title || 'Alchemy Code Lab'}</title>
		{noIndex && <meta name="robots" content="noindex, follow">}
		{description && <meta name="description" content={description} />}
		{imageUrl && <meta name="og:image" content={imageUrl} />}
		<link rel="canonical" href={canonicalLink || defaultCanonicalUrl} />
	</head>
	<body>
		{isProdBuild && <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M86KFS2" height="0" width="0" style="display:none;visibility:hidden"></iframe>}
		
		<HeaderBar pages={pages} page={page}/>

		<main>		
			<slot/>
		</main>	

    <Footer pages={pages} page={page} />

		<script crossOrigin="true" src="https://polyfill.app/api/polyfill?features=scroll-behavior"></script>
		<script type="module" src="/scripts/main.js"></script>

	</body>
</html>
