---
import HeaderBar from '../components/HeaderBar/HeaderBar.jsx'
import Footer from '../components/Footer/Footer.jsx';
import '../styles/reset.css';
import '../styles/globals.css';
import '../styles/typography.css';
import '../styles/color.css';

const { page, pages } = Astro.props;
const { title, description, imageUrl, canonicalLink } = page.data;

---

<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width"/>
		<link rel="icon" type="image/x-icon" href="/favicon.ico"/>
		<title>{title || 'Alchemy Code Lab'}</title>
		{description && <meta name="description" content={description} />}
		{imageUrl && <meta name="og:image" content={imageUrl} />}
		{canonicalLink && <link rel="canonical" href={canonicalLink} />}
	</head>
	<body>
		<HeaderBar pages={pages} page={page}/>

		<main>		
			<slot/>
		</main>	

    <Footer pages={pages} page={page} />

		<script crossOrigin="true" src="https://polyfill.app/api/polyfill?features=scroll-behavior"></script>
		<script type="module" src="/scripts/main.js"></script>

	</body>
</html>
